@use "vars" as *;

.admin a, .admin {
    color: $color_primary100 !important;
    font-weight: bold !important;
}

.deleted-user, .deleted-user a {
    color: #999;
    font-weight: normal;
    text-decoration: line-through $color_primary100;
}

@mixin rate-svg-color($color) {
    circle {
        stroke: $color;
    }
    path {
        fill: $color;
    }
}
$color_rating_newbie: #999;
$color_rating_pupil: #2db82d;
$color_rating_specialist: #5f97ff;
$color_rating_expert: #00b7c2;
$color_rating_candidate_master: #fbc02d;
$color_rating_master: #fa9900;
$color_rating_international_master: #e95692;
$color_rating_grandmaster: #ff3030;
$color_rating_international_grandmaster: #a030ff;
$color_rating_legendary_grandmaster: #d02090;
svg.rate-box {
    width: 1.2em;

    circle {
        fill: none;
        stroke-width: 2px;
    }

    &.rate-none {
        visibility: hidden;
    }

    &.rate-newbie {
        @include rate-svg-color($color_rating_newbie);
    }

    &.rate-pupil {
        @include rate-svg-color($color_rating_pupil);
    }

    &.rate-specialist {
        @include rate-svg-color($color_rating_specialist);
    }

    &.rate-expert {
        @include rate-svg-color($color_rating_expert);
    }

    &.rate-candidate-master {
        @include rate-svg-color($color_rating_candidate_master);
    }

    &.rate-master {
        @include rate-svg-color($color_rating_master);
    }

    &.rate-international-master {
        @include rate-svg-color($color_rating_international_master);
    }

    &.rate-grandmaster {
        @include rate-svg-color($color_rating_grandmaster);
    }

    &.rate-international-grandmaster {
        @include rate-svg-color($color_rating_international_grandmaster);
    }

    &.rate-legendary-grandmaster {
        @include rate-svg-color($color_rating_legendary_grandmaster);
    }

    // Giữ lại nếu hệ thống vẫn dùng .rate-target
    &.rate-target {
        circle:last-child {
            stroke: none;
            fill: $color_rating_grandmaster;
        }
    }
}
.rating {
    font-weight: bold;

    a {
        display: inline-block;
    }
}

.rate-none, .rate-none a {
    color: $color_rating_none;
    font-weight: normal;
}

.rate-newbie, .rate-newbie a {
    color: $color_rating_newbie;
}

.rate-amateur, .rate-amateur a {
    color: $color_rating_amateur;
}

.rate-pupil,
.rate-pupil a {
    color: $color_rating_pupil;
}

.rate-specialist,
.rate-specialist a {
    color: $color_rating_specialist;
}

.rate-expert, .rate-expert a {
    color: $color_rating_expert;
}

.rate-candidate-master, .rate-candidate-master a {
    color: $color_rating_candidate_master;
}

.rate-master, .rate-master a {
    color: $color_rating_master;
}

.rate-grandmaster, .rate-grandmaster a, .rate-target, .rate-target a {
    color: $color_rating_grandmaster;
}

.rate-target a::first-letter {
    color: $color_rating_target;
}

.rate-group {
    white-space: nowrap;
    display: inline-block;
    color: black;

    .rating {
        display: inline-block;
        vertical-align: middle;
    }

    .rate-box {
        margin-right: 0.2em;
        vertical-align: middle;
    }
}
